<h2>CurateND Metrics Report</h2>
<em> Time period: <%=metrics.report_start_date%> through <%=metrics.report_end_date%> </em>
<dl>
  <dt>Object</dt> <dd>entity in storage system </dd>
  <dt>Item</dt> <dd>CurateND Intellectual object</dd>
  <dt>File</dt> <dd>Content file downloadable from CurateND</dd>
</dl>
<h3>Holdings (at end of period) </h3>
<% unless metrics.storage.blank? -%>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Storage</th>
      <th>Objects</th>
      <th>Size (Bytes)</th>
      <th>Size (GB)</th>
    </tr>
    </thead>
    <tbody>
      <% total_count = 0 %>
      <% total_size = 0 %>
      <% metrics.storage.each do |storage_type, storage_details| -%>
        <tr>
          <% total_count += storage_details.count -%>
          <% total_size = total_size +  storage_details.size -%>
          <td> <%= storage_type %> </td>
          <td> <%= storage_details.count%> </td>
          <td> <%= storage_details.size%> </td>
          <td> <%= ::ApplicationController.helpers.number_to_human_size(storage_details.size) %> </td>
        </tr>
      <% end -%>
      <tr>
        <td> Total </td>
        <td> <%= total_count%> </td>
        <td> <%= total_size%> </td>
        <td> <%= ::ApplicationController.helpers.number_to_human_size(total_size) %> </td>
      </tr>
    </tbody>
  </table>
<% end -%>
<% unless metrics.generic_files_by_holding.blank? -%>
  <% metrics.generic_files_by_holding.each do |holding_type, holding_details| -%>
    <h4> Holding By <%= holding_type.titleize %></h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Content</th>
        <th>Count</th>
        <th>Size (Bytes)</th>
        <th>Size (GB)</th>
      </tr>
      </thead>
      <tbody>
      <% total_count = 0 -%>
      <% total_size = 0 -%>
      <% holding_details.each do |holding_key, reporting_detail| -%>
        <tr>
          <% total_count += reporting_detail.count -%>
          <% total_size += reporting_detail.size -%>
          <td> <%= holding_key %> </td>
          <td> <%= reporting_detail.count%> </td>
          <td> <%= reporting_detail.size%> </td>
          <td> <%= ::ApplicationController.helpers.number_to_human_size(reporting_detail.size) %> </td>
        </tr>
      <% end %>
      <tr>
        <td> Total </td>
        <td> <%= total_count%> </td>
        <td> <%= total_size%> </td>
        <td> <%= ::ApplicationController.helpers.number_to_human_size(total_size) %> </td>
      </tr>
      </tbody>
    </table>
  <% end -%>
<% end -%>
<h4> Items </h4>
<dl>
  <dt>Items Added</dt> <dd> <%=metrics.items_added_count %> </dd>
  <dt>Items Modified</dt> <dd><%= metrics.items_modified_count %></dd>

</dl>

<% unless metrics.obj_by_curate_nd_type.blank? -%>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>By Type</th>
      <th>Public</th>
      <th>NDOnly</th>
      <th>Embargo</th>
      <th>Private</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <% access_type_hash = metrics.obj_by_curate_nd_type.values -%>

    <% total_objects = 0 -%>
    <% metrics.obj_by_curate_nd_type.each do |af_model, access_count| -%>
        <% total_objects += access_count.values.inject(0){|sum, count| sum + count } -%>
      <tr>
          <td> <%= af_model %> </td>
          <td> <%= access_count.fetch(:public, 0)%> </td>
          <td> <%= access_count.fetch(:local, 0)%> </td>
          <td> <%= access_count.fetch(:embargo, 0)%> </td>
          <td> <%= access_count.fetch(:private, 0)%> </td>
          <td> <%= access_count.values.inject(0){|sum, count| sum + count }%> </td>
      </tr>
    <% end %>
    <tr>
      <td> Total </td>
      <td> <%= access_type_hash.map { |h| h.fetch(:public,0)}.sum %> </td>
      <td> <%= access_type_hash.map { |h| h.fetch(:local,0)}.sum %> </td>
      <td> <%= access_type_hash.map { |h| h.fetch(:embargo,0)}.sum %> </td>
      <td> <%= access_type_hash.map { |h| h.fetch(:private,0)}.sum %> </td>
      <td> <%= total_objects %> </td>
    </tr>
    </tbody>
  </table>
<% end -%>

<% unless metrics.obj_by_administrative_unit.blank? -%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>By Administrative Unit</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <%= report_administrative_unit_as_html -%>
      <tr>
        <td> Total </td>
        <td> <%= metrics.administrative_units_count %> </td>
      </tr>
    </tbody>
  </table>
  <em>(total may not match sum since some items may be associated with more than one department)</em>
<% end -%>

<% unless metrics.obj_by_academic_status.blank? -%>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>By Academic Staus</th>
      <th>Count</th>
    </tr>
    </thead>
    <tbody>
      <% total_count = 0 -%>
      <% metrics.obj_by_academic_status.each do |status| -%>
        <% total_count += status.fetch(:object_count) -%>
        <tr>
          <td> <%= status.fetch(:aggregation_key) %> </td>
          <td> <%= status.fetch(:object_count) %> </td>
        </tr>
      <% end -%>
      <tr>
        <td> Total </td>
        <td> <%= total_count %> </td>
      </tr>
    </tbody>
  </table>
  <em>(total may not match sum since some items may be associated with more than one author status)</em>
<% end -%>

<h3>Usage (during period)</h3>

<% unless metrics.location_usage.blank? -%>
  <% metrics.location_usage.each do |report_type, location_details_array| -%>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= report_type.titleize %></th>
        <th>View</th>
        <th>Download</th>
      </tr>
      </thead>
      <tbody>
        <% total_view_count = 0 -%>
        <% total_download_count = 0 -%>
        <% location_details_array.each do |location| -%>
          <% location.each do |usage_type, events_with_count| -%>
            <% total_view_count += events_with_count.fetch(:view, 0) -%>
            <% total_download_count += events_with_count.fetch(:download, 0) -%>
            <tr>
              <td> <%= usage_type.to_s.titleize %> </td>
              <td> <%= events_with_count.fetch(:view, 0)%> </td>
              <td> <%= events_with_count.fetch(:download, 0)%> </td>
            </tr>
          <% end %>
        <% end -%>
        <tr>
          <td> Total </td>
          <td> <%= total_view_count %> </td>
          <td> <%= total_download_count %> </td>
        </tr>
      </tbody>
    </table>
  <% end -%>
 <% end -%>

<% unless metrics.item_usage_by_resource_type_events.blank? -%>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>By Item Type</th>
      <th>View</th>
      <th>Download</th>
    </tr>
    </thead>
    <tbody>
    <% total_view_count = 0 -%>
    <% total_download_count = 0 -%>
    <% metrics.item_usage_by_resource_type_events.each do |af_model, events_with_count| -%>
      <% total_view_count += events_with_count.fetch(:view, 0) -%>
      <% total_download_count += events_with_count.fetch(:download, 0) -%>
      <tr>
        <td> <%= af_model %> </td>
        <td> <%= events_with_count.fetch(:view, 0)%> </td>
        <td> <%= events_with_count.fetch(:download, 0)%> </td>
      </tr>
    <% end %>
    <tr>
      <td> Total </td>
      <td> <%= total_view_count %> </td>
      <td> <%= total_download_count %> </td>
    </tr>
    </tbody>
  </table>
<% end -%>

<% unless metrics.top_viewed_items.blank? -%>
  <h4> Top 10 Items Viewed </h4>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Count</th>
      <th>Type</th>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <% metrics.top_viewed_items.each do |item| -%>
      <tr>
        <td> <%= item.pid %> </td>
        <td> <%= item.count %> </td>
        <td> <%= item.item_type %> </td>
        <td> <%= item.title %> </td>
      </tr>
    <% end -%>
    </tbody>
  </table>
<% end -%>

<% unless metrics.top_download_items.blank? -%>
  <h4> Top 10 Items Downloaded </h4>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Count</th>
      <th>Parent Type</th>
      <th>Parent Title</th>
    </tr>
    </thead>
    <tbody>
    <% metrics.top_download_items.each do |item| -%>
      <tr>
        <td> <%= item.pid %> </td>
        <td> <%= item.count %> </td>
        <td> <%= item.parent_type %> </td>
        <td> <%= item.parent_title %> </td>
      </tr>
    <% end -%>
    </tbody>
  </table>
<% end -%>